TOKEN=your_discord_bot_token
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key
CLIENT_ID=your_discord_client_id
GUILD_ID=your_discord_guild_id_for_testing
STAFF_ROLE_ID=your_staff_role_id
OWNER_ID=your_discord_id
ADMIN_ROLE_ID=your_admin_role_id
SUPPORT_LOG_CHANNEL_ID=your_log_channel_id
SUPPORT_CATEGORY_ID=your_category_id
CUSTOMER_ROLE_ID=your_customer_role_id
PREMIUM_ROLE_ID=your_premium_role_id
BOT_LOGS_CHANNEL_ID=your_bot_logs_channel_id
